<section class="work" id="work">
    <div class="container">
        <h2 class="title">Опыт работы</h2>

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="https://beko.ru/" target="_blank">
                    <img class="work__img" src="img/work/beko.jpg" alt="beko-logo">
                </a>
                <div class="work__dates">
                    11.2017 - н.в.
                </div>
                <div class="work__name">
                    специалист отдела сервиса
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Управление сервисной сетью в регионах ответственности.</li>
                        <li>Оптимизация и развитие сети авторизованных сервисных центров.</li>
                        <li>Выполнение KPI.</li>
                        <li>Аудит авторизованных сервисных центров.</li>
                        <li>Презентации на дилерских конференциях.</li>
                        <li>Взаимодействие с отделом качества.</li>
                    </ul>

                    <p>Комания beko является третьим по величине производителем бытовой техники для дома в Европе и мировым брендом, который можно встретить более чем в 130 странах.</p>
                    <p>Торговая марка Beko, наряду с такими брендами, как Blomberg, Grundig, Arctic и др., принадлежит крупнейшему турецкому производственному концерну Арчелик (Arçelik A.Ş). Он объединяет 18 заводов, расположенных в Турции, Румынии, России, Китае, Южной Африке, Таиланде и Пакистане. Основная продукция – холодильники, стиральные машины, посудомоечные машины, духовые шкафы, телевизоры, климатическая и малая бытовая техника. В Арчелик трудится 30 000 сотрудников, офисы продаж и маркетинга расположены в 27 странах.</p>
                    <p>Представительсво компании в России расположено в Москве. В городе Киржач Владимирской области находится собственный завод и склад запасных частей. В сервисном отделе работает около 30 человек. Отдел разделен на две части, первая находится в офисе, вторая на заводе.</p>
                    <p>Основной моей задачей, как специалиста, является обеспечение бесперебойного послепродажного обслуживания в регионах ответственности: Северо-Западном ФО, Уральском ФО и Республике Беларусь.</p>
                    <p>Я занимаюсь оптимизацией и развитием сети авторизованных сервисных центров, поиском новых партнеров и заключением контрактов.</p>
                    <p>Компания разработала систему KPI для оценки результатов деятельности наших партнеров. Значительной частью моей работы является постоянное взаимодействие с сервисными центрами для достижения высоких показателей.</p>
                    <p>Также я занимаюсь аудитом авторизованных сервисных центров на предмет соответствия стандартам, разработанным штаб-квартирой и представляю работу отдела на различных дилерских конференциях.</p>
                </div>
            </div>

        </div><!-- /.work__item beko -->

        <div class="work__item">

            <div class="work__col">
                <img class="work__img work__img--probka" src="img/work/probka.jpg" alt="probka-logo">
                <div class="work__dates">
                    02.2018 - 12.2018
                </div>
                <div class="work__name">
                    учредитель
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Переговоры с поставщиками и закупка товара.</li>
                        <li>Маркетинг.</li>
                        <li>Мерчендайзинг крафта.</li>
                        <li>Бухгалтерия.</li>
                        <li>Подбор персонала.</li>
                    </ul>

                    <p>В указанный период времени являлся совладельцем магазина крафтового и разливного пива. Получил неоценимый опыт в областях ведения малого бизнеса, руководства персоналом, закупках, маркетинге и бухгалтерии.</p>
                </div>

                <div class="work__slider-wrapper">
                    <div class="work__slider" id="work-slider">
                        <div>
                            <img class="work__slider-img" src="img/probka/02.jpg" alt="probka_shop_02">
                        </div>
                        <div>
                            <img class="work__slider-img" src="img/probka/03.jpg" alt="probka_shop_03">
                        </div>
                        <div>
                            <img class="work__slider-img" src="img/probka/04.jpg" alt="probka_shop_04">
                        </div>
                        <div>
                            <img class="work__slider-img" src="img/probka/05.jpg" alt="probka_shop_05">
                        </div>
                        <div>
                            <img class="work__slider-img work__slider-img--sm" src="img/probka/06.jpg" alt="probka_shop_06">
                        </div>
                        <div>
                            <img class="work__slider-img" src="img/probka/07.jpg" alt="probka_shop_07">
                        </div>
                        <div>
                            <img class="work__slider-img" src="img/probka/08.jpg" alt="probka_shop_08">
                        </div>
                    </div><!-- /.work__slider -->

                    <button class="work__btn" type="button" id="arrow-left-btn">
                        <svg class="work__icon">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>

                    <button class="work__btn work__btn--right" type="button" id="arrow-right-btn">
                        <svg class="work__icon">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>

                </div><!-- /.work__slider-wrapper -->
            </div>

        </div><!-- /.work__item probka-->

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="https://www.candy.ru/ru_RU" target="_blank">
                    <img class="work__img" src="img/work/candy.png" alt="candy-logo">
                </a>
                <div class="work__dates">
                    11.2008 - 10.2017
                </div>
                <div class="work__name">
                    специалист отдела сервиса
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Управление сервисной сетью в России, Белоруссии и Казахстане.</li>
                        <li>Оптимизация и развитие сети авторизованных сервисных центров.</li>
                        <li>Выполнение KPI.</li>
                        <li>Продажа запасных частей.</li>
                        <li>Руководство ремонтным цехом.</li>
                        <li>Составление сервисного бюджета и контроль его выполнения.</li>
                        <li>Работа с претензиями.</li>
                        <li>Консультация сервисных центров по техническим вопросам.</li>
                    </ul>

                    <p>Компания Candy ведет свою историю с 1945го года и является крупным производителем бытовой техники. По объему бизнеса уступает beko, но очень хорошо известна и узнаваема в Европе, особенно, на своей родине - в Италии. Штаб-квартира расположена в городе Бругерио, регион Милан. Офис компании в России находится в Москве, завод по производству стиральных машин в городе Киров. В 2018м году все активы Candy были куплены китайским производителем бытовой техники и электроники, компанией Haier.</p>
                    <p>Здесь я получил основной опыт работы в области сервисного обслуживания. За 9 лет работы занимался практически всеми воросами, связанными с сервисом, принимал участие во многих проектах. В 2008м году, когда я только начинал, в отделе сервиса было 3 человека: менеджер и два специалиста. В 2012м году отдел сократили до двух человек, оставив менеджера и специалиста. В таком составе я проработал в компании более 6 лет.</p>
                    <p>По иронии судьбы, до моего перехода в beko, я ходил на собеседование в компанию Haier (тогда еще никто не знал о будущей сделке), и менеджер отдела сервиса не поверил, что в сервисе Candy работают только два человека.</p>
                    <p>Яркой отличительной чертой, Candy, как и всех итальянских компаний, является ориентация на массовые продажи запасных частей.</p>

                    <div class="work__subtitle">
                        Проекты
                    </div>

                    <h4 class="work__minititle">2009: Программы проверки отчетов и статистики.</h4>
                    <p>Самостоятельно разработал и внедрил программы проверки отчетов о выполненных работах от сервсиных центров и расчета статистики. В основу легли MS Excel, макросы и базы данных серийных номеров произведенной техники.</p>

                    <h4 class="work__minititle">2010: Запуск единого портала с технической информацией и отчетной системой.</h4>
                    <p>В 2010м году, штаб-квартира приняла решение о создании единого сайта, объединяющего систему отчетности от СЦ и портал с технической информацией. Общей разработкой занималась IT-комания из Великобритании, адаптация и доводка осуществлялась на местах. Занимался переводом, тестированием и внедрением.</p>

                    <h4 class="work__minititle">2012: Руководство ремонтным цехом.</h4>
                    <p>В 2012м году в стране произошел очередной экономический кризис, который затронул, в том числе,  и компанию Candy. Объемы производства и продаж упали, многие отделы, как в офисе, так и на заводе были сокращены. Руководство компании приняло решение создать небольшой ремонтный цех для восстановления списанной и битой техники на базе завода в городе Киров. Данный эксперимент дожен был решить ряд задач: уберечь часть людей от сокращения, расчистить складские площади, заработать на продаже восстановленной техники. На тот момент, наш отдел уже сократили до двух человек, и мой непосредственный начальник поручил руководство данным проектом мне. Всего в цехе работало 9 человек, 7 из которых были заняты непосредственно ремонтом, 2 запасными частями и логистикой. Проект просуществовал пол-года, до конца 2012, после чего был закрыт. На заводе смонтировали и запустил линию по производству холодильников, на которую потребовались люди с опытом работы. </p>

                    <h4 class="work__minititle">2015: Старт продаж линейки бытовой техники под управлением Wi-Fi.</h4>
                    <p>Candy была одной из первых компаний, выпустивших линейку крупной бытовой техники под управлением Wi-Fi. Особое внимание уделялось сервису, и коммуникации с конечными потребителями. Я принимал участие в переводе, адаптации и тестировании приложения, а также в сертификации продукции и запасных частей.</p>

                    <h4 class="work__minititle">2016: Изменение системы оплаты.</h4>
                    <p>В 2016 я инициировал проект перехода на оплату счетов от сервисных центров в рублях. Изменение валюты привело к созданию нового базового контракта с контрагентами. Данная мера позволила существенно расширить сервисную сеть. Занимался перенастройкой и отладкой отчетной системы, перезаключением контрактов.</p>

                    <h4 class="work__minititle">2017: Запуск работы колл-центра.</h4>
                    <p>В 2017м году, штаб-квартира приняла решение о создании единого общеевропейского колл-центра в городе Белград, республика Сербия. В рамках данного проекта, я занимался подбором персонала, составлением скриптов для операторов, общей наладкой работы.</p>
                </div>
            </div>
        </div><!-- /.work__item candy -->

        <div class="work__item">
            <div class="work__col">
                <a class="work__link" href="http://www.vniief.ru/" target="_blank">
                    <img class="work__img work__img--rfnc" src="img/work/rfnc.jpg" alt="rfnc-logo">
                </a>
                <div class="work__dates">
                    10.2007 - 06.2008
                </div>
                <div class="work__name">
                    инженер конструктор
                </div>
            </div>

            <div class="work__desc">
                <div class="work__subtitle">
                    Основные обязанности
                </div>
                <div class="work__text">
                    <ul class="work__ul">
                        <li>Разработка конструкторской документации.</li>
                    </ul>

                    <p>Российское государственное научное и производственное предприятие, входящее в состав госкорпорации «Росатом». Расположено в ЗАТО Саров. Основное направление деятельности — разработка и производство ядерных боеприпасов.</p>
                </div>
            </div>

        </div><!-- /.work__item rfnc -->

    </div>
</section>
